.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar {
  width: 384px;
  height: 52px;
  border-radius: 4px 0px 0px 4px;
  background: hsl(0, 50%, 99%);
  border: none;
  position: relative;
  bottom: 10px;
  z-index: 1;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.175);
}

.buttonsearch {
  width: 53px;
  height: 54px;
  border-radius: 0px 4px 4px 0px;
  background: #ca720a;
  border: none;
  position: relative;
  bottom: 10px;
  z-index: 1;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.175);
}
