header {
  width: 100%;
  height: 100px;
  background-color: rgb(249, 248, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

h1 {
  font-family: Montserrat, sans-serif;
  color: black;
  position: absolute;
}
