.block-container {
  padding-bottom: 10px;
  font-family: Montserrat, sans-serif;
  width: 90vw;
  margin: 0 auto;
  border-radius: 12px;
  background: hsl(0, 50%, 99%);
  border: none;
  bottom: 10px;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.175);
}
@keyframes colorChange {
  0% {
    box-shadow: 0 0 0 0.4rem rgba(137, 46, 46, 0.3);
  }
  25% {
    box-shadow: 0 0 0 0.4rem rgba(255, 150, 2, 0.494);
  }
  50% {
    box-shadow: 0 0 0 0.4rem rgba(215, 237, 17, 0.673);
  }
  75% {
    box-shadow: 0 0 0 0.4rem rgba(255, 0, 183, 0.3);
  }
  100% {
    box-shadow: 0 0 0 0.4rem rgba(136, 0, 255, 0.3);
  }
}

.userPhoto {
  float: left;
  padding-left: 20px;
  padding-top: 20px;
}

.userPhoto img {
  width: 80px;
  border-radius: 50%;
  animation: colorChange 5s infinite;
}
.userInfo {
  display: flex;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 12px;
}
.border-container {
  display: flex;

  padding-top: 10px;
  padding-left: 15px;
}
.userInfo p {
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 13px;
}
.userInfo span {
  margin-left: 0.5em;
}
