nav {
  display: flex;
}
/*justify-content: space-around;*/
div .container-signup {
  font-family: Montserrat, sans-serif;
  flex-basis: 50%;
  text-align: center;
  width: 50%;
  padding-top: 2px;
  background: rgba(188, 188, 188, 0.763);
  color: #000000;

  text-decoration: none;
}

div .container-signup:hover {
  background-color: rgba(113, 114, 116, 0.123);
  color: rgb(25, 80, 85);

  transition: 0.3s ease all;
  opacity: 1;
  color: #000000;

  text-decoration: none;
}
div .container-login {
  font-family: Montserrat, sans-serif;
  flex-basis: 50%;
  text-align: center;
  width: 50%;
  padding-top: 2px;

  background: rgba(235, 235, 235, 0.763);
  color: #000000;

  text-decoration: none;
}

div .container-login:hover {
  background-color: rgba(23, 65, 113, 0.123);
  color: rgb(99, 106, 106);

  transition: 0.3s ease all;
  opacity: 1;
  color: #000000;

  text-decoration: none;
}
